<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>New</title>
  </head>
  <body>
    <form class="student" action="/student" method="post">
      <p>
      Student Name: <input type="text" name="student[name]">
      Student Grade: <input type="text" name="student[grade]">
      </p>
      <p>
      Course Name: <input type="text" name="student[courses][][name]">
      Course Topic: <input type="text" name="student[courses][][topic]">
      </p>
      <p>
      Course Name: <input type="text" name="student[courses][][name]">
      Course Topic: <input type="text" name="student[courses][][topic]">
    </p>
      <input type="submit" value="submit">
    </form>
  </body>
</html>
